# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/

# Editor settings
.vscode/
.idea/

# macOS and Windows system files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp